* @Stedi/core

# Allow bots to modify the files without the need to review PRs

Cargo.toml
Cargo.lock
**/Cargo.toml
.github/**/*.yml
.github/**/*.yaml

# Written by release-please on every release PR
.release-please-manifest.json
CHANGELOG.md
